{% load static %}

<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Robotronics IIT Mandi</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="robotronics,robot,machines,learning,iit,mandi,project" name="keywords">
  <meta content="This is the official website for the robotronics club of IIT Mandi." name="description">
  <meta content="Dipanshu,Naman,Khyati,Arshita,Anjali" name="authors">

  <!-- Favicons -->
  <link href="" rel="icon">
  <link href="" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700"
    rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href={% static 'lib/bootstrap/css/bootstrap.min.css' %} rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href={% static "lib/font-awesome/css/font-awesome.min.css" %} rel="stylesheet">
  <link href={% static "lib/animate/animate.min.css" %}rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href={% static "css/style.css" %} rel="stylesheet">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


</head>

<body>

  <!--==========================
  Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <!-- <a href="#hero"><img src="img/logo.png" alt="" title="" /></img></a> -->
        <!-- Uncomment below if you prefer to use a text logo -->
        <h1><a href="#hero">Robotronics</a></h1>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#hero">Home</a></li>
          <li><a href="#about">About Us</a></li>
          <li><a href="#services">Projects</a></li>
          <li><a href="#portfolio">Blogs</a></li>
          <li><a href="#team">Team</a></li>
          <li><a href="/wof.html">Hall Of Fame</a></li>
          <!-- <li><a href="#services">Services</a></li> -->
          <li><a href="#portfolio">Blogs</a></li>
          <li><a href="#team">Team</a></li>
          <!-- <li class="menu-has-children"><a href="">Drop Down</a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="menu-has-children"><a href="#">Drop Down 2</a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
              <li><a href="#">Drop Down 5</a></li>
            </ul>
          </li> -->
          <li><a href="#contact">Contact Us</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Hero Section
  ============================-->
  <section id="hero">
    <div class="hero-container">
      <h1>Welcome to Robotronics-Club</h1>
      <h2>The bots are rising...</h2>
      <img src={% static "img/logo.png"%} alt="">
      <a href="#about" class="btn-get-started">Get Started</a>
    </div>
  </section><!-- #hero -->

  <main id="main">

    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container">
        <div class="row about-container">

          <div class="col-lg-6 content order-lg-1 order-2">
            <h2 class="title">Who Are we?</h2>
            <p>
              Robotronics Club is the official club under Science and Technology Council, IIT Mandi. It is one of the
              most active clubs created to bring out the creativity among the students and make them familiar with the
              ever growing world of Robotics. The club provides an entry point and a platform to the students where they
              can come and learn this amazing field of technology.</p>
          </div>
          <br>
          <div class="col-lg-6 content order-lg-1 order-2">
            <h2 class="title">What do we do?</h2>
            <p>
              The club organises activities throughout the year and aids and encourage the students to convert their
              ideas into reality and build robots beneficial for the whole mankind. It is the main focal point for
              activities related Robotronics.<br><br>

              <b>So, come and “Let’s automate the boring stuff..”</b>
          </div>

        </div>


      </div>

      </div>
    </section>

    <!--==========================
      Facts Section
    ============================-->
    <section id="facts">
      <div class="container wow fadeIn">
        <div class="section-header">
          <h3 class="section-title">Its we :)</h3>
          <p class="section-description">Here our some intersting facts...</p>
        </div>
        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="">15+</span>
            <p>Core members</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="">30+</span>
            <p>Projects</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="">5+</span>
            <p>Years of Experience</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span>infinite</span>
            <p>dedication</p>
          </div>

        </div>

      </div>
    </section><!-- #facts -->

    <!--==========================
      Services Section
    ============================-->
    <!-- <section id="services">
      <div class="container wow fadeIn">
        <div class="section-header">
          <h3 class="section-title">Services</h3>
          <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
            doloremque</p>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="box">
              <div class="icon"><a href=""><i class="fa fa-desktop"></i></a></div>
              <h4 class="title"><a href="">Lorem Ipsum</a></h4>
              <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
                occaecati cupiditate non provident</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
            <div class="box">
              <div class="icon"><a href=""><i class="fa fa-bar-chart"></i></a></div>
              <h4 class="title"><a href="">Dolor Sitema</a></h4>
              <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo consequat tarad limino ata</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
            <div class="box">
              <div class="icon"><a href=""><i class="fa fa-paper-plane"></i></a></div>
              <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
              <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="box">
              <div class="icon"><a href=""><i class="fa fa-photo"></i></a></div>
              <h4 class="title"><a href="">Magni Dolores</a></h4>
              <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                mollit anim id est laborum</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
            <div class="box">
              <div class="icon"><a href=""><i class="fa fa-road"></i></a></div>
              <h4 class="title"><a href="">Nemo Enim</a></h4>
              <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                praesentium voluptatum deleniti atque</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
            <div class="box">
              <div class="icon"><a href=""><i class="fa fa-shopping-bag"></i></a></div>
              <h4 class="title"><a href="">Eiusmod Tempor</a></h4>
              <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum
                soluta nobis est eligendi</p>
            </div>
          </div>
        </div>

      </div>
    </section>#services -->

    <!--==========================
    Call To Action Section
    ============================-->
    <!-- <section id="call-to-action">
      <div class="container wow fadeIn">
        <div class="row">
          <div class="col-lg-9 text-center text-lg-left">
            <h3 class="cta-title">Call To Action</h3>
            <p class="cta-text"> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
              anim id est laborum.</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="#">Call To Action</a>
          </div>
        </div>

      </div>
    </section>#call-to-action -->

    <!--==========================
      Portfolio Section
    ============================-->
    <section id="portfolio">
      <div class="container wow fadeInUp">
        <div class="section-header">
          <h3 class="section-title">BLOGS</h3>
          <p class="section-description">Some Project Blogs</p>
        </div>
        <div class="row">

          <div class="row" id="portfolio-wrapper">
            <div class="col-lg-3 col-md-6 portfolio-item filter-app">
              <a href="https://www.robotics.org/blog">
                <img src={% static "img/rob4.png"%} alt="" style="width: 130%; height: 200px;">
                <div class="details">
                  <h4>ROBOT IS ONLINE</h4>
                  <span></span>
                </div>
              </a>
            </div>

            <div class="col-lg-3 col-md-6 portfolio-item filter-web">
              <a href="https://robohub.org/">
                <img src={% static "img/rob.png"%} alt="" style="width: 120%; height: 200px;">
                <div class="details">
                  <h4>ROBOHUB</h4>
                  <span></span>
                </div>
              </a>
            </div>

            <div class="col-lg-3 col-md-6 portfolio-item filter-web">
              <a href="https://www.therobotreport.com/">
                <img src={% static "img/rob3.jpg"%} alt="" style="width: 100%; height: 200px;">
                <div class="details">
                  <h4>THE ROBOTIC REPORT</h4>
                  <span></span>
                </div>
              </a>
            </div>

            <div class="col-lg-3 col-md-6 filter-app">
              <a href="" data-toggle="modal" data-target="#myModal">
                <img src={% static "img/add.png"%} alt=""
                  style="width: 70%; height: 20%; padding-left: 20px; padding-top: 10px">
                <h3 style="color: gray">Add your Blog</h3>
              </a>
            </div>

            <div class="col-lg-3 col-md-6 portfolio-item filter-card">

            </div>
          </div>

        </div>
    </section><!-- #portfolio -->

    <!-- resources-->

    <section id="resources">
      <div class="container wow fadeInUp">
        <div class="section-header">
          <h3 class="section-title">RESOURCES</h3>
          <p class="section-description">Some good links</p>
        </div>
        <div class="opensrc">
          <h3 class="osp">Open Source </h3>
          <div class="row">
            <div class="col-lg-6">
              <br><br>
              <a href="https://github.com/jslee02/awesome-robotics-libraries" target="blank"><img
                  src={% static "img/openrob.png"%} class="osim" style="width: 70%; height: 20%;"></a>
            </div>
            <div class="col-lg-6">
              <br><br>
              <a href="https://www.ros.org/" target="blank"><img class="osimg" src={% static "img/ros.jpeg"%}
                  style="width: 70%; height: 20%;"></a>
            </div>
          </div>
          <p><br><br><br><strong>Recommended -</strong> V-Rep Pro as Simulator</p>
        </div>

        <div class="books">
          <br><br>
          <h3 class="osp">Books</h3>
          <div class="row">
            <div class="column">
              <br><br>
              <img class="bookimg" src={% static "img/rosbook.jpg"%} style="width:100%">
            </div>
            <div class="column">
              <br><br>
              <img class="bookimg" src={% static "img/rosbook2.jpg"%} style="width:100%">
            </div>
            <div class="column">
              <br><br>
              <img class="bookimg" src={% static "img/basrob.jpg"%} style="width:100%">
            </div>
            <div class="column">
              <br><br>
              <img class="bookimg" src={% static "img/introb.jpg"%} style="width:100%">
            </div>
          </div>
        </div>
      </div>
    </section>


    <!--==========================
      Coordinator Section
    ============================-->
    <section id="team">
      <div class="container wow fadeInUp">
        <div class="section-header">
          <h3 class="section-title"><u>Coordinators</u></h3>
          <p class="section-description">Our Coordinators</p>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6 imghai">
            <div class="member">
              <div class="pic"><img src={% static "img/pratyush.jpeg"%} alt=""></div>
              <div class="team-text">
              <h4>Pratyush Gaurav</h4>
              <span>Mentor Coordinator</span>
              <div class="social">
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-google-plus"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
              </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 imghai">
              <div class="member">
                <div class="pic"><img src={% static "img/manpreet.jpg"%} alt=""></div>
                <div class="team-text">
                <h4>Manpreet</h4>
                <span>Coordinator</span>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
                </div>
              </div>
            </div>
          <div class="col-lg-3 col-md-6 imghai">
            <div class="member">
              <div class="pic"><img src={% static "img/piyush.jpg"%} alt=""></div>
              <div class="team-text">
              <h4>Piyush</h4>
              <span>Coordinator</span>
              <div class="social">
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-google-plus"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
              </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 imghai">
            <div class="member">
              <div class="pic"><img src={% static "img/Ankit Karan.jpg"%} alt=""></div>
              <div class="team-text">
              <h4>Karan Ankit</h4>
              <span>Coordinator</span>
              <div class="social">
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-google-plus"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
              </div>
              </div>
            </div>
          </div>

        </div>
    </section><!-- #team -->

    <!--==========================
      Core Team Section
    ============================-->
    <section id="team">
      <div class="container wow fadeInUp">
        <div class="section-header">
          <h3 class="section-title"><u>Core Team</u></h3>
          <p class="section-description">Here are the guys working hard to take Robotronics Club to a new level</p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 imghai">
                <div class="member">
                  <div class="pic"><img src={% static "img/rakshit.jpg"%} alt=""></div>
                  <div class="team-text">
                  <h4>Rakshit Raj</h4>
                  <span>Core team</span>
                  <div class="social">
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                  </div>
                </div>
              </div>
            <div class="col-lg-3 col-md-6 imghai">
                <div class="member">
                  <div class="pic"><img src={% static "img/vaishali.jpg"%} alt=""></div>
                  <div class="team-text">
                  <h4>Vaishali</h4>
                  <span>Core team</span>
                  <div class="social">
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                  </div>
                </div>
              </div>
    
              <div class="col-lg-3 col-md-6 imghai">
                <div class="member">
                  <div class="pic"><img src={% static "img/dipesh.jpg"%} alt=""></div>
                  <div class="team-text">
                  <h4>Dipesh</h4>
                  <span>Core team</span>
                  <div class="social">
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                  </div>
                </div>
              </div>
            <div class="col-lg-3 col-md-6 imghai">
                <div class="member">
                  <div class="pic"><img src={% static "img/arjun.jpeg"%} alt=""></div>
                  <div class="team-text">
                  <h4>Arjun</h4>
                  <span>Core team</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 imghai">
                  <div class="member">
                    <div class="pic"><img src={% static "img/rohit.jpg"%} alt=""></div>
                    <div class="team-text">
                    <h4>Rohit</h4>
                    <span>Core team</span>
                    <div class="social">
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href=""><i class="fa fa-facebook"></i></a>
                      <a href=""><i class="fa fa-google-plus"></i></a>
                      <a href=""><i class="fa fa-linkedin"></i></a>
                    </div>
                    </div>
                  </div>
                </div>
      
                <div class="col-lg-3 col-md-6 imghai">
                  <div class="member">
                    <div class="pic"><img src={% static "img/raj.jpg"%} alt=""></div>
                    <div class="team-text">
                    <h4>Raj Kumar</h4>
                    <span>Core team</span>
                    <div class="social">
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href=""><i class="fa fa-facebook"></i></a>
                      <a href=""><i class="fa fa-google-plus"></i></a>
                      <a href=""><i class="fa fa-linkedin"></i></a>
                    </div>
                    </div>
                  </div>
                </div>
      
                <div class="col-lg-3 col-md-6 imghai">
                  <div class="member">
                    <div class="pic"><img src={% static "img/hardik.jpg"%} alt=""></div>
                    <div class="team-text">
                    <h4>Hardik</h4>
                    <span>Core team</span>
                    <div class="social">
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href=""><i class="fa fa-facebook"></i></a>
                      <a href=""><i class="fa fa-google-plus"></i></a>
                      <a href=""><i class="fa fa-linkedin"></i></a>
                    </div>
                    </div>
                  </div>
                </div>
        
                <div class="col-lg-3 col-md-6 imghai">
                  <div class="member">
                    <div class="pic"><img src={% static "img/manish.jpg"%} alt=""></div>
                    <div class="team-text">
                    <h4>Manish</h4>
                    <span>Core team</span>
                    <div class="social">
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href=""><i class="fa fa-facebook"></i></a>
                      <a href=""><i class="fa fa-google-plus"></i></a>
                      <a href=""><i class="fa fa-linkedin"></i></a>
                    </div>
                    </div>
                  </div>
                </div>
      
                <div class="col-lg-3 col-md-6 imghai">
                  <div class="member">
                    <div class="pic"><img src={% static "img/komal.jpg"%} alt=""></div>
                    <div class="team-text">
                    <h4>Komal</h4>
                    <span>Core team</span>
                    <div class="social">
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href=""><i class="fa fa-facebook"></i></a>
                      <a href=""><i class="fa fa-google-plus"></i></a>
                      <a href=""><i class="fa fa-linkedin"></i></a>
                    </div>
                    </div>
                  </div>
                </div>
      
            <div class="col-lg-3 col-md-6 imghai">
                <div class="member">
                  <div class="pic"><img src={% static "img/Arshita.jpeg"%} alt=""></div>
                  <div class="team-text">
                  <h4>Arshita</h4>
                  <span>Core team</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                  </div>
                </div>
              </div>
          <div class="col-lg-3 col-md-6 imghai">
            <div class="member">
              <div class="pic"><img src={% static "img/khyati.jpg"%} alt=""></div>
              <div class="team-text">
              <h4>khyati</h4>
              <span>Core team</span>
              <div class="social">
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-google-plus"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
              </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 imghai">
            <div class="member">
              <div class="pic"><img src={% static "img/dipanshu.jpg"%} alt=""></div>
              <div class="team-text">
              <h4>Dipanshu Verma</h4>
              <span>Core team</span>
              <div class="social">
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="https://www.facebook.com/dipanshu231099"><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-google-plus"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
              </div>
              </div>
            </div>
          </div>


          <div class="col-lg-3 col-md-6 imghai">
            <div class="member">
              <div class="pic"><img src={% static "img/naman.jpg"%} alt=""></div>
              <div class="team-text">
              <h4>Naman</h4>
              <span>Core team</span>
              <div class="social">
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-google-plus"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
              </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 imghai">
            <div class="member">
              <div class="pic"><img src={% static "img/anjali.jpg"%} alt=""></div>
              <div class="team-text">
              <h4>Anjali</h4>
              <span>Core team</span>
              <div class="social">
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-google-plus"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
              </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 imghai">
            <div class="member">
              <div class="pic"><img src={% static "img/aman.jpg"%} alt=""></div>
              <div class="team-text">
              <h4>Aman Rathore</h4>
              <span>Core team</span>
              <div class="social">
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-google-plus"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
              </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 imghai">
            <div class="member">
              <div class="pic"><img src={% static "img/chandan.jpg"%} alt=""></div>
              <div class="team-text">
              <h4>chandan</h4>
              <span>Core team</span>
              <div class="social">
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-google-plus"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
              </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 imghai">
              <div class="member">
                <div class="pic"><img src={% static "img/shrinivas.jpg"%} alt=""></div>
                <div class="team-text">
                <h4>Shrinivas</h4>
                <span>Core team</span>
                <div class="social">
                  <a href="#"><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
                </div>
              </div>
            </div>

          <div class="col-lg-3 col-md-6 imghai">
            <div class="member">
              <div class="pic"><img src={% static "img/garima.jpg"%} alt=""></div>
              <div class="team-text">
              <h4>Garima</h4>
              <span>Core team</span>
              <div class="social">
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-google-plus"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
              </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 imghai">
            <div class="member">
              <div class="pic"><img src={% static "img/hemraj.jpg"%} alt=""></div>
              <div class="team-text">
              <h4>Hemraj</h4>
              <span>Core team</span>
              <div class="social">
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-google-plus"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
              </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 imghai">
            <div class="member">
              <div class="pic"><img src={% static "img/nidhi.jpg"%} alt=""></div>
              <div class="team-text">
              <h4>Nidhi</h4>
              <span>Core team</span>
              <div class="social">
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-google-plus"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
              </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 imghai">
            <div class="member">
              <div class="pic"><img src={% static "img/akshay.jpg"%} alt=""></div>
              <div class="team-text">
              <h4>Akshay</h4>
              <span>Core team</span>
              <div class="social">
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-google-plus"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
              </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 imghai">
            <div class="member">
              <div class="pic"><img src={% static "img/dhananjay.jpg"%} alt=""></div>
              <div class="team-text">
              <h4>dhananjay</h4>
              <span>Core team</span>
              <div class="social">
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-google-plus"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
              </div>
              </div>
            </div>
          </div>

          
        </div>
    </section><!-- #team -->

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact">
      <div class="container wow fadeInUp">
        <div class="section-header">
          <h3 class="section-title">Contact Us</h3>
          <p class="section-description">We would like to hear from you</p>
        </div>
      </div>

      <!-- Uncomment below if you wan to use dynamic maps -->
      <iframe width=100% height="450" frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJvdsSb6bkBDkROZHqHTJRvdI&key=AIzaSyBmKpoSHrasg04rvWwdlTlFKRQSpBCl6qQ"
        allowfullscreen></iframe>

      <div class="container wow fadeInUp mt-5">
        <div class="row justify-content-center">

          <div class="col-lg-3 col-md-4">

            <div class="info">
              <div>
                <i class="fa fa-map-marker"></i>
                <p>North Campus <br>IIT MANDI</p>
              </div>

              <div>
                <i class="fa fa-envelope"></i>
                <p>robotronics@iitmandi.ac.in</p>
              </div>

              <div>
                <i class="fa fa-phone"></i>
                <p>ankit karan - +91 8434934890 <br>piyush - +91 9354556594 <br>manpreet - +91 7009769644</p>
              </div>
            </div>

            <div class="social-links">
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>

          <div class="col-lg-5 col-md-8">
            <div class="form" action="https://formspree.io/robotronics@students.iitmandi.ac.in" method="POST">
              <div id="sendmessage">Your message has been sent. Thank you!</div>
              <div id="errormessage"></div>
              <form action="" method="post" role="form" class="contactForm">
                <div class="form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                    data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                    data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                    data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" data-rule="required"
                    data-msg="Please write something for us" placeholder="Message"></textarea>
                  <div class="validation"></div>
                </div>
                <div class="text-center"><button type="submit">Send Message</button></div>
              </form>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #contact -->

  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        <br>
        <img src="./img/logo.png" alt="">
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Regna
        -->
        Designed by Robotronics IIT Mandi
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src={%static "lib/jquery/jquery.min.js"%}></script>
  <script src={%static "lib/jquery/jquery-migrate.min.js"%}></script>
  <script src={%static "lib/bootstrap/js/bootstrap.bundle.min.js"%}></script>
  <script src={%static "lib/easing/easing.min.js"%}></script>
  <script src={%static "lib/wow/wow.min.js"%}></script>
  <script src={%static "lib/waypoints/waypoints.min.js"%}></script>
  <script src={%static "lib/counterup/counterup.min.js"%}></script>
  <script src={%static "lib/superfish/hoverIntent.js"}%></script>
  <script src={%static "lib/superfish/superfish.min.js"%}></script>

  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src={% static "js/main.js"%}></script>

  <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Add Your Blog</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <form action="/action_page.php">
            Your Name<br>
            <input type="text" name="name" value="" style="width: 90%">
            <br><br>
            Link to your Blog<br>
            <input type="text" name="blog" value="" style="width: 90%">
            <br>
          </form>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn" data-dismiss="modal" style="background-color: green">Submit</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>

  </div>

</body>

</html>