{% load static %}

<html lang="en">
<html>
<head>
	<title>Robotronics IIT Mandi</title>

	<meta content="width=device-width, initial-scale=1.0" name="viewport">

	<!-- Favicons -->
  <link href="" rel="icon">
  <link href="" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700"
    rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href={% static 'lib/bootstrap/css/bootstrap.min.css' %} rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href={% static "lib/font-awesome/css/font-awesome.min.css" %} rel="stylesheet">
  <link href={% static "lib/animate/animate.min.css" %}rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href={% static "css/style.css" %} rel="stylesheet">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<body style="background-color: #343b40">

	<!--==========================
  Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <!-- <a href="#hero"><img src="img/logo.png" alt="" title="" /></img></a> -->
        <!-- Uncomment below if you prefer to use a text logo -->
        <h1><a href="#hero">Robotronics Club</a></h1>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="index.html#hero">Home</a></li>
          <li><a href="index.html#about">About Us</a></li>
          <li><a href="index.html#services">Projects</a></li>
          <li><a href="index.html#portfolio">Blogs</a></li>
          <li><a href="index.html#team">Team</a></li>
          <li><a href="wof.html">Wall Of Fame</a></li>
          <li><a href="index.html#contact">Contact Us</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <br><br><br><br>

  <section id="team">
  	<hr>
        <div class="container wow fadeInUp">
          <div class="section-header">
            <h3 class="section-title"><u>2018-2019</u></h3><br>
          </div>
          <div class="row">
            <div class="col-lg-4 imghai">
              <div class="member">
                <div class="pic"><img src={% static "img/AkshatMalviya.jpg"%} alt=""></div>
                <div class="team-text">
                <h4>Akshat Malviya</h4>
                <span>Coordinator</span>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 imghai">
              <div class="member">
                <div class="pic"><img src={% static "img/Neeraj.jpg"%} alt=""></div>
                <div class="team-text">
                <h4>Neeraj Sharma</h4>
                <span>Coordinator</span>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 imghai">
              <div class="member">
                <div class="pic"><img src={% static "img/gaurav.jpg"%} alt=""></div>
                <div class="team-text">
                <h4>Gaurav Kumar</h4>
                <span>Coordinator</span>
                <div class="social">
                  <a href="#"><i class="fa fa-twitter"></i></a>
                  <a href="https://www.facebook.com/dipanshu231099"><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
                </div>
              </div>
            </div>
  
        </div>
      </section><!-- 2018-2019 -->


      <section id="team">
      	<hr>
        <div class="container wow fadeInUp">
          <div class="section-header">
            <h3 class="section-title"><u>2017-2018</u></h3><br>
          </div>
          <div class="row">
            <div class="col-lg-4 imghai">
              <div class="member">
                <div class="pic"><img src={% static "img/SuryavanshiVirendrasingh.jpg"%} alt=""></div>
                <div class="team-text">
                <h4>Suryavanshi VirendraSingh</h4>
                <span>Coordinator</span>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 imghai">
              <div class="member">
                <div class="pic"><img src={% static "img/LakshayArora.jpg"%} alt="" ></div>
                <div class="team-text">
                <h4>Lakshay Arora</h4>
                <span>Coordinator</span>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 imghai">
              <div class="member">
                <div class="pic"><img src={% static "img/SanidhyaAggarwal.jpg"%}  alt=""></div>
                <div class="team-text">
                <h4>Sanidhya Aggarwal</h4>
                <span>Coordinator</span>
                <div class="social">
                  <a href="#"><i class="fa fa-twitter"></i></a>
                  <a href="https://www.facebook.com/dipanshu231099"><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
                </div>
              </div>
            </div>
  
        </div>
      </section><!-- 2017-2018 -->


      <section id="team">
      	<hr>
        <div class="container wow fadeInUp">
          <div class="section-header">
            <h3 class="section-title"><u>2016-2017</u></h3><br>
          </div>
          <div class="row">
  
            <div class="col-lg-4 imghai">
              <div class="member">
                <div class="pic"><img src={% static "img/IndreshKumar.jpg"%}  alt=""></div>
                <div class="team-text">
                <h4>Indresh Kumar</h4>
                <span>Coordinator</span>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 imghai">
              <div class="member">
                <div class="pic"><img src={% static "img/kushagra.jpg"%}  alt=""></div>
                <div class="team-text">
                <h4>Kushagra Singhal</h4>
                <span>Coordinator</span>
                <div class="social">
                  <a href="#"><i class="fa fa-twitter"></i></a>
                  <a href="https://www.facebook.com/dipanshu231099"><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
                </div>
              </div>
            </div>
  
        </div>
      </section><!-- 2016-2017 -->


      <section id="team">
      	<hr>
        <div class="container wow fadeInUp">
          <div class="section-header">
            <h3 class="section-title"><u>2015-2016</u></h3><br>
          </div>
          <div class="row">
  
            <div class="col-lg-4 imghai">
              <div class="member">
                <div class="pic"><img src={% static "img/PulkitRajgadiya.jpg"%} alt=""></div>
                <div class="team-text">
                <h4>Pulkit Rajdadiya</h4>
                <span>Coordinator</span>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 imghai">
              <div class="member">
                <div class="pic"><img src={% static "img/gopal.jpg"%}  alt=""></div>
                <div class="team-text">
                <h4>Gopal Krishan Aggarwal</h4>
                <span>Coordinator</span>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
                </div>
              </div>
            </div>
  
        </div>
      </section><!-- 2015-2016 -->

      <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        <br>
        <img src="./img/logo.png" alt="">
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Regna
        -->
        Designed by Robotronics IIT Mandi
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src={%static "lib/jquery/jquery.min.js"%}></script>
  <script src={%static "lib/jquery/jquery-migrate.min.js"%}></script>
  <script src={%static "lib/bootstrap/js/bootstrap.bundle.min.js"%}></script>
  <script src={%static "lib/easing/easing.min.js"%}></script>
  <script src={%static "lib/wow/wow.min.js"%}></script>
  <script src={%static "lib/waypoints/waypoints.min.js"%}></script>
  <script src={%static "lib/counterup/counterup.min.js"%}></script>
  <script src={%static "lib/superfish/hoverIntent.js"}%></script>
  <script src={%static "lib/superfish/superfish.min.js"%}></script>

  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src={% static "js/main.js"%}></script>

  <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Add Your Blog</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <form action="/action_page.php">
            Your Name<br>
            <input type="text" name="name" value="" style="width: 90%">
            <br><br>
            Link to your Blog<br>
            <input type="text" name="blog" value="" style="width: 90%">
            <br>
          </form>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn" data-dismiss="modal" style="background-color: green">Submit</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>

  </div>

</body>

</html>
